
.col{
    background-color: rgb(173, 183, 192);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.card{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items:center;
}
